.row
  .name
    %label{for: 'name' }
      Name
      %span{ class: 'required' }
        *
      = f.text_field :name
      - if validation_errors?(repository, :name)
        %p.error= format_validation_errors(repository, :name)
.row
  .data
    %div{class: 'small-4 columns' }
      %label{for: 'repository_data' }
        Data?
    %div{class: 'small-20 columns' }
      = f.check_box :data
.row
  .data
    %div{class: 'small-4 columns' }
      %label{for: 'repository_specimens' }
        Specimens?
    %div{class: 'small-20 columns' }
      = f.check_box :specimens
