.northwestern_net_id_question{ class: 'large-24 columns text-center lead' }
  %h1
    Do you have a Northwestern NetID?
  = link_to 'Yes',  new_northwestern_user_session_url, class: 'button'
  = link_to 'No',  new_external_user_session_url, class: 'button'