.row
  .supporting_document{class: 'small-24 columns' }
    %div{class: 'small-12 large-5 columns' }
      %label{for: 'disburser_request_supporting_document' }
        Supporting Document
    %div{class: 'small-12 large-19 columns' }
      %div
        - if disburser_request.supporting_document?
          = link_to download_file_repository_disburser_request_url(disburser_request.repository, disburser_request, file_type: 'supporting_document'), 'data-turbolinks' => false, class: 'supporting_document_url' do
            %i
            = disburser_request.supporting_document.file.filename
