#disburser_requests {
  @include grid-row();

  .disburser_requests_header {
    @include grid-row();
    .banner {
      vertical-align: middle;
    }

    #search_disburser_requests_form {
      @include grid-column(
       $columns: 24
      );

      .search_buttons{
        #search_disburser_requests_button {
          margin-bottom: 0;
        }
      }
    }
  }

  .disburser_requests_list {
    @include grid-column(
      $columns: 24
    );

    th .current {
      padding-right: 2em;
      background-repeat: no-repeat;
      background-position: right center;
    }

    th .asc {
      background-image: asset_url("drop25.png");
    }

    th .desc {
      background-image: asset_url("drop27.png");
    }

    table {
      @include grid-column(
       $columns: 24
      );
    }
  }
}

#disburser_request {
  @include grid-row();
  .remove_methods_justifications_link {
    margin-top: 1rem;
    margin-left: 1rem;
  }
  .submitter {
    margin-bottom: 1rem;
  }

  .status {
    label {
      display: inline;
    }
    margin-bottom: 1rem;
  }
}

#disburser_request_show {
  @include grid-row();

  .submitter {
    margin-bottom: 1rem;
  }

  textarea {
    background-color: white !important;
  }

  .status {
    label {
      display: inline;
    }
    margin-bottom: 1rem;
  }

//  input[type='submit'] {
//    display: inline;
//  }
}