#disburser-menu {
  @include show-for(medium);
}

#disburser_navigation {
  .disburser_branding {
    .disburser_title {
      color: $primary-color;
    }
    h6 {
      color: $dark-gray;
    }
  }
  .disburser_logo {
    @include hide-for-only(small);
  }
}

.field_with_errors {
  border-style: solid;
  border-color: $alert-color;

  input {
    margin-bottom: 0rem;
  }

  select {
    margin-bottom: 0rem;
  }
}

.error {
  display: inline;
}


.notice {
  background-color: #b0a2c5;
}


.top-bar, .off-canvas {

  .menu-text a {
    color: white !important;
  }
}

.close-button {
  top: .1rem !important;
}

.details li {
  background-color: $primary-color;
  a {
    color: white !important;
  }
}

.select2 {
  width: 100% !important;
}

.required:after {
  content:" *";
}