#repositories {
  @include grid-row();

  .repositories_header {
    @include grid-row();
    .banner {
      vertical-align: middle;
    }

    #search_repositories_form {
      @include grid-column(
       $columns: 24
      );

      .search_buttons{
        margin-top: 1.5rem;

        #search_repositories_button {
          margin-top: .50rem;
        }
      }
    }

  }

  .repositories_list {
		@include grid-column(
		  $columns: 24
		);

    th .current {
      padding-right: 2em;
      background-repeat: no-repeat;
      background-position: right center;
    }

    th .asc {
      background-image: asset_url("drop25.png");
    }

    th .desc {
      background-image: asset_url("drop27.png");
    }

    table {
      @include grid-column(
       $columns: 24
      );
    }
  }
}

#new_repository, #edit_repository, #edit_repository_content {
  @include grid-row();

  .name {
    margin-top: 2rem;
  }

  #specimen_types {
    margin-top: 2rem;
  }

  .navigation {
    padding: 1rem;
  }

  .details {
    @include grid-row();
    .repository {
      padding-left: 0 !important;
      @include grid-column(
       $columns: 6
      );
    }

    .repository_content {
      @include grid-column(
       $columns: 6
      );
    }

    .repository_users {
      @include grid-column(
       $columns: 6
      );
    }
    .specimen_types {
      padding-right: 0 !important;
      @include grid-column(
       $columns: 6
      );
    }
  }
}

#repository {
  @include grid-row();

  .new_request {
    text-align: right;
    margin-bottom: 1rem;
  }

  .general_content_header, .specimen_content_header, .data_content_header {
    background-color: $primary-color;
    color: white;
  }
}