#repository_users {
  @include grid-row();
  .repository_users_header {
    margin-top: 1.5rem;

    @include grid-column(
     $columns: 24
    );

    .banner {
      vertical-align: middle;
    }

    #search_repository_users_form {
      @include grid-column(
       $columns: 24
      );

      .search_box{
        @include grid-column-offset(12);

        @include grid-column(
          $columns: 8
        );

				#search_repositories_button {
					margin-bottom: 0;
				}
        @include grid-column-collapse();
      }

      .search_buttons{
        @include grid-column(
          $columns: 4
        );

				#search_repository_users_button {
					margin-bottom: 0;
				}
      }
    }
  }

  .repository_users_list {
    @include grid-column(
      $columns: 24
    );

    th .current {
      padding-right: 2rem;
      background-repeat: no-repeat;
      background-position: right center;
    }

    th .asc {
      background-image: asset_url("drop25.png");
    }
    th .desc {
      background-image: asset_url("drop27.png");
    }
  }

  .details {
    .repository {
      padding-left: 0 !important;
      @include grid-column(
       $columns: 6
      );
    }

    .repository_content {
      @include grid-column(
       $columns: 6
      );
    }

    .repository_users {
      @include grid-column(
       $columns: 6
      );
    }
    .specimen_types {
      @include grid-column(
       $columns: 6
      );
    }
  }
}

#repository_user {
  @include grid-row();

  .new_repository_user_form {
    .username {
      margin-bottom: 2rem;
    }
    .navigation {
      margin-top: 3rem;
    }
  }

  .edit_repository_user_form {
    .navigation {
      margin-top: 2rem;
    }
  }
}