<p>Welcome <%= @resource.full_name %>!</p>

<p>You have successfully set up an account in the Clinical Research Repository Disburser at Robert H. Lurie Comprenehsive Cancer Center of Northwestern University: <%= link_to 'Disburser', root_url %>.</p>

<p>You can confirm your account email through the link below:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>

<p>Thank You,</p>

<p>Disburser</p>